@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/space-mono.min.css");
.main-header {
  position: absolute;
  width: 133px;
  height: 25px;
  left: 77px;
  top: 40px;

  font-family: Inconsolata;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;

  color: #333333;
}
.error-disclaimer {
  position: absolute;
  width: 586px;
  height: 190px;
  left: 735px;
  top: 265px;

  font-family: "Space Mono", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.035em;

  /* Gray 1 */

  color: #333333;
}
.error-message {
  position: absolute;
  width: 381px;
  height: 108px;
  left: 736px;
  top: 491px;

  font-family: "Space Mono", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;

  /* Gray 2 */

  color: #4f4f4f;
}

.copyright {
  position: absolute;
  width: 287px;
  height: 17px;
  left: 577px;
  top: 1039px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  color: #bdbdbd;
}
img {
  position: absolute;
  left: 5.35%;
  right: 57.21%;
  top: 24.54%;
  bottom: 34.03%;
}

button {
  position: absolute;
  width: 130px;
  height: 21px;
  left: 783px;
  top: 687px;

  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: -0.035em;
  text-transform: uppercase;

  color: #ffffff;
  background: #333333;
  position: absolute;
  width: 216px;
  height: 68px;
  left: 740px;
  top: 663px;
}
